@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  background-image: url("/bg.jpg");
  background-size: cover;
  /* заповнює весь екран */
  background-position: center;
  /* по центру */
  background-repeat: no-repeat;
  /* без повтору */
  background-attachment: fixed;
  /* ❗ фон НЕ скролиться */
}


#_r_0_-tabpanel-0,
#_r_0_-tabpanel-1,
#_r_0_-tabpanel-2,
#_r_0_-tabpanel-3,
#_r_0_-tabpanel-4,
#_r_0_-tabpanel-5,
#_r_0_-tabpanel-6,
#_r_0_-tabpanel-7,
#_r_0_-tabpanel-8,
#_r_0_-tabpanel-9,
#_r_0_-tabpanel-10,
#_r_0_-tabpanel-11,
#_r_0_-tabpanel-12,
#_r_0_-tabpanel-13,
#_r_0_-tabpanel-14 {
  display: none;
}

/* Темний glass ефект */
.glass {
  background: rgba(17, 24, 39, 0.65);
  /* темний напівпрозорий */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* Safari */
  border: 1px solid rgba(255, 255, 255, 0.08);
}

/* Трохи сильніший варіант (опційно) */
.glass-strong {
  background: rgba(11, 15, 25, 0.75);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.10);
}

/* Задай обгортку, щоб не чіпати інші таби на сайті */
.equipment-tabs [role="tab"][aria-selected="true"] {
  /* background: rgba(59, 130, 246, 0.18); */
  /* background: rgba(97, 103, 116, 0.65);  */
 background: rgb(55 65 81 / var(--tw-bg-opacity, 1));

}


.equipment-tabs [role="tab"]:not([aria-selected="true"]) {
  background: rgba(17, 24, 39, 0.65); 
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(10px);
 

}

/* hover */
.equipment-tabs [role="tab"]:not([aria-selected="true"]):hover {
  background: rgba(255, 255, 255, 0.06);

}